@use "../../styles/vars";

.mainbox {
  background-color: vars.$orange;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.homebutton {
  position: fixed;
  z-index: 9999;
  @include vars.button-font();
  @include vars.button-style();
  left: 1vw;
  top: 1vh;
  padding: 1vw;
}

.button {
  @include vars.button-font();
  @include vars.button-style();
  width: 30vw;
  height: 15vh;
  position: absolute;
  bottom: 2px;
}

.buttonLeft {
  right: 55%;
}

.buttonRight {
  left: 55%;
}

.actionBox {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .mainbox {
    height: 150vh;
    overflow-y: scroll;
    text-align: center;
  }

  .button {
    width: 80vw;
    position: relative;
    left: 0;
    right: 0;
    height: 10vh;
    margin-top: 3%;
    font-size: 1.2rem;
  }
  .actionBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }




}
