@use "../../styles/vars";

.mainbox {
  background-color: vars.$orange;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.button {
  @include vars.button-font();
  @include vars.button-style();
  width: 30vw;
  padding: 3vw;
  position: relative;
  bottom: 2vw;

}

.actionBox {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
