@use "../../styles/vars";

.detailBox {
  position: relative;
  background-color: vars.$plum;
  color: white;
  width: 75vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: vars.$border-radius;
  overflow-y: scroll;
}

.name {
  display:flex;
}

.paragraph {
  @include vars.paragraph-font();
}

.cocktailImage {
  position: absolute;
  left: 10%;
  top: 20%;
}

.instructions {
  @include vars.paragraph-font();
  position: relative;
  left: 23%;

  width: 32vw;
}

.header {
  @include vars.header-font();
}

.ingredients {
  width: calc(100% - 2vw);
  height: calc(100% - 2vh);
  border: solid 1px white;
  border-radius: vars.$border-radius;
  overflow-y: scroll;
}

.ingredientsOuter {
  position: relative;
  left: 23%;
  width: 32vw;
  height: auto;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 2rem;
    height: calc(2.2rem + 2%);
    position: relative;
    bottom: 70%;
  }

.detailBox {
  width: 90vw;
  padding: 2vw;
  height: 100%;
  margin-top: 5%;

  .name {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2%;
  }

  .cocktailImage {
    position: relative;
    left: 0;
    margin-top: calc(2.2rem + 5%);
  }

  .instructions {
    left: 0;
    width: 80vw;
  }

  .ingredientsOuter {
    width: 80vw;
    overflow: visible;
    left: 0;
  }
}
}
