@use "../../styles/vars";

.detailBox {
  background-color: vars.$plum;
  color: white;
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: vars.$border-radius;
}

.name {
  display:flex; 
}

.paragraph {
  @include vars.paragraph-font();

}

.header {
  @include vars.header-font();
}
