@use "../../styles/vars";

.detailBox {
  position: relative;
  background-color: vars.$plum;
  color: white;
  width: 75vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: vars.$border-radius;
  overflow-y: scroll;
  padding: 7vw;
}

.paragraph {
  @include vars.paragraph-font();
}

.cocktailImage {
  position: absolute;
  left: 10%;
  top: 20%;
  max-height: 400px;
}

.instructions {
  @include vars.paragraph-font();
  position: relative;
  top: 3%;
  left: 23%;
  width: 32vw;
  height:30%;
  padding: 1%;
  overflow-y: scroll;
  background-color: vars.$lightPlum;
}

.header {
  position: absolute;
  top: 3%;
  @include vars.header-font();
  margin-bottom: 5%;
}

.ingredients {
  width: calc(100% - 2vw);
  height: calc(100% - 2vh);
  border: solid 1px white;
  border-radius: vars.$border-radius;
  overflow-y: scroll;
}

.ingredientsOuter {
  position: relative;
  top: 3%;
  left: 23%;
  width: 32vw;
  height: auto;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
.detailBox {
  position: inherit;
  width: 90vw;
  padding: 2vw;
  height: 105%;
  margin-top: 5%;
  .header {
    position: relative;
    top: 10vh;
    font-size: 2rem;
    height: calc(2.2rem + 2%);
  }

  .cocktailImage {
    position: relative;
    margin-bottom: 7%;
    left: 0;
  }

  .instructions {
    left: 0;
    top: 7%;
    min-height: 20vh;
    width: 80vw;
  }

  .ingredientsOuter {
    width: 85vw;
    top: 5%;
    overflow: visible;
    left: 0;
  }
}
}
