@use "./vars";

.box {
  background: vars.$orange;
  height: 80vh;
  margin: 0;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 0;
  @include vars.header-font();
}
