@use "../../styles/vars";

.promptBox {
  color: white;
  background-color: vars.$plum;
  @include vars.paragraph-font;
  width: 80%;
  border-radius: vars.$border-radius;
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  input[type="checkbox"] {
    background-color: vars.$darkPink;
  }
}

.optionSection {
  width: 60%;
}
